html, body {margin: 0; padding: 0; font:13px/1.231 Arial, sans-serif;}

.page-top {background: #447CAD; padding: 10px;}

.unzip {display: none;}

label {font-weight: bold;}

.user-rating {display: inline-block; background: #900; width: 30px; height: 30px; line-height: 30px; color: #FFF; text-align: center; font-weight: bold; font-size: 16px; border-radius: 3px;}

table {width: 100%; border-collapse: collapse; text-align: left;}
table td {vertical-align: top; padding: 5px;}

.main-content .main-menu {width: 300px; background: #EEE; padding: 15px;}
.main-content .main-menu > ul {list-style: none; margin: 0; padding: 0;}
.main-content .main-menu > ul > li {padding: 5px 0;}
.main-content .main-menu .download-ts {font-style: italic; font-size: 11px; margin-top: 20px;}
.main-content .page-content {padding: 15px;}

table.kv th {width: 200px; text-align: left; padding: 5px; vertical-align: top;}


table.ml {border: 1px solid #EEE;}
table.ml tr {background: #FFF;}
table.ml tr:nth-child(2n) {background: #EEE;}


.index .profile-link {margin: 30px 0;}
.index ul {list-style: none; margin: 0; padding: 0;}
.index ul li {display: inline-block; text-align: center; border: 1px solid #CCC; width: 200px; height: 100px; line-height: 40px; margin-right: 10px;}
.index ul li div {font-size: 20px;}
.index ul li strong {font-size: 30px;}

.account-data ul {list-style: none; margin: 0; padding: 0;}

.movie-ratings td {vertical-align: middle;}
.movie-ratings td:first-child {width: 40px;}


.movie-review {width: 50%;}
.movie-review em {display: inline-block; margin: 10px 0;}
.movie-review .spoiler {text-align: center; font-size: 12px; font-weight: bold; border-bottom: 1px solid #666; height: 8px; margin: 10px 0;}
.movie-review .spoiler span {background: #FFF;}


.lists th {padding: 5px; vertical-align: top; width: 30px; text-align: right;}
.lists .name {width: 60%;}
.lists .name em {display: block; margin-top: 10px; color: #666;}


.msg td:nth-child(1) {width: 20%;}
.msg td:nth-child(2) {width: 60%;}
